{{#if this.shouldDisplay}}
  <div
    class="{{concat (theme-setting 'plugin_outlet') '-outlet'}} search-banner"
  >
    <div
      class="custom-search-banner"
      {{did-insert this.didInsert}}
      {{will-destroy this.willDestroy}}
    >
      <div class="wrap custom-search-banner-wrap">
        <div class="prehead">{{html-safe (theme-i18n "search_banner.prehead")}}</div>
        <h1>{{html-safe (theme-i18n "search_banner.headline")}}</h1>
        <PluginOutlet @name="search-banner-below-headline" />
        <p>{{html-safe (theme-i18n "search_banner.subhead")}}</p>
        <div class="search-menu search-banner-buttons">
          {{#unless this.currentUser }}
            <DButton
              @action={{route-action "showCreateAccount"}}
              @label="sign_up"
              @class="btn-primary"
            />
            <DButton
              @action={{route-action "showLogin"}}
              @label="log_in"
              @icon="user"
              @class="btn-primary"
            />
            <DButton
              @action={{action this.goToCategory}}
              @translatedLabel="{{theme-i18n "search_banner.discuss"}}"
              @class="btn-primary"
            />
            {{/unless}}
        </div>
      </div>
    </div>
  </div>
{{/if}}