{{#if shouldDisplay}}
  <div class="custom-search-banner">
    <div class="wrap custom-search-banner-wrap">
      <div class="prehead">{{html-safe (theme-i18n "search_banner.prehead")}}</div>
      <h1 class="headline">{{html-safe (theme-i18n "search_banner.headline")}}</h1>
      <PluginOutlet @name="search-banner-below-headline" />
      <p class="subhead">{{html-safe (theme-i18n "search_banner.subhead")}}</p>
<!--      <div class="search-banner-buttons">-->
<!--        <DButton-->
<!--          @action={{route-action "showCreateAccount"}}-->
<!--          @label="sign_up"-->
<!--          @class="btn-primary"-->
<!--        />-->
<!--        <DButton-->
<!--          @action={{route-action "showLogin"}}-->
<!--          @label="log_in"-->
<!--          @icon="user"-->
<!--          @class="btn-primary"-->
<!--        />-->
<!--      </div>-->
      {{mount-widget widget="section-login-buttons"}}
      {{mount-widget widget="search-widget"}}
      {{log this }}
    </div>
  </div>
{{/if}}120220