{{#if shouldDisplay}}
  <div class="custom-search-banner">
    <div class="wrap custom-search-banner-wrap">
      <div class="prehead">{{html-safe (theme-i18n "search_banner.prehead")}}</div>
      <h1 class="headline">{{html-safe (theme-i18n "search_banner.headline")}}</h1>
      <PluginOutlet @name="search-banner-below-headline" />
      <p class="subhead">{{html-safe (theme-i18n "search_banner.subhead")}}</p>
      {{mount-widget widget="search-widget"}}
      {{mount-widget widget="search-buttons"}}
      <div class="buttons">
      <DButton
        @action={{route-action "showCreateAccount"}}
        @label="signup_cta.sign_up"
        @icon="user"
        @class="btn-primary"
      />
      <DButton
        @action={{action "hideForSession"}}
        @label="signup_cta.hide_session"
        @class="no-icon"
      />
      <a href {{on "click" this.neverShow}}>{{i18n
          "signup_cta.hide_forever"
        }}</a>
    </div>
    </div>
  </div>
{{/if}}